<template>
	<span
		class="bg-electric-blue callout-small-light-reg px-4 py-8 text-white flex transform -translate-y-10  justify-end items-center w-[80%]"
	>
		<button class="font-medium mr-auto">Accept</button>
		<span class="opacity-80 mr-10">01:42</span>
		<button @click="$emit('on-click')">
			<svg
				width="22"
				height="10"
				viewBox="0 0 22 10"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M16 0L22 5L16 10V6H0V4H16V0Z" fill="white" />
			</svg>
		</button>
	</span>
</template>

<script>
export default {}
</script>
