<template>
	<div class=" pt-16 h-full w-full flex flex-col">
		<div class="flex-grow bg-image pt-8 flex flex-col">
			<div class="flex-grow w-full relative">
				<div>
					<div
						class="flex justify-center items-center relative z-10 py-10 w-[6.5rem] bg-dark-gray text-white font-bold"
					>
						<button>
							<svg
								width="22"
								height="10"
								viewBox="0 0 22 10"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6 0L0 5L6 10V6H22V4H6V0Z"
									fill="white"
								/>
							</svg>
						</button>
					</div>

					<!-- Main content -->
					<div class="text-white px-4 relative z-10 w-[92%]">
						<h2 class="mt-12  callout-medium-light ">
							Matchmaking Lobby
						</h2>
						<p class="title-super-light mt-6">
							A match has been found for you!
						</p>
						<p class="body-light mt-8">
							We’ve found a compatible opponent for you to play
							Squad Battles with in FIFA 19
						</p>

						<div
							class="flex justify-start items-center mt-20 space-x-8"
						>
							<span
								class="footnote-light flex justify-start items-center w-12"
								>Lobby</span
							>
							<span
								class="flex justify-center items-center w-20 h-20 border-2 border-white rounded-full"
							>
								<span
									class="overflow-hidden inline-block w-16 h-16 rounded-full"
								>
									<img
										src="@/assets/images/avatar-01.png"
										alt=""
									/>
								</span>
							</span>
						</div>

						<div
							class="flex justify-start items-center space-x-8 mt-10"
						>
							<span class="flex justify-start items-center w-12">
								<svg
									width="12"
									height="2"
									viewBox="0 0 12 2"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<rect width="12" height="2" fill="white" />
								</svg>
							</span>

							<span class="footnote-light opacity-80">
								By tapping accept, you agree to play a match
								that may last for up to 30 minutes.
							</span>
						</div>
					</div>
				</div>

				<!-- As background -->
				<div
					class="bg-dark-gray mix-blend-multiply z-0 w-[93%] absolute top-0 left-0 h-full"
				></div>
			</div>

			<!-- CTA -->
			<div class="w-full flex justify-end">
				<CTAButton @on-click="$emit('on-click')"></CTAButton>
			</div>
		</div>
	</div>
</template>

<script>
import CTAButton from '../match-found/CTAButton.vue'

export default {
	components: { CTAButton }
}
</script>

<style scoped>
.bg-image {
	background-image: url('~assets/images/ronaldo-2.png');
	@apply bg-no-repeat bg-right-top bg-blend-multiply;
}
</style>
