<template>
	<header
		class="fixed z-50 top-0 left-0 w-full flex justify-between items-center "
	>
		<div>
			<span
				class="flex justify-center items-center py-9 w-[6.5rem] bg-dark-gray bg-opacity-100 text-white font-bold"
				>GFINITY</span
			>
		</div>

		<div class="space-x-4 pr-6">
			<span class="font-bold">FIFA 19</span>
			<button>
				<svg
					width="20"
					height="12"
					viewBox="0 0 20 12"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<rect width="20" height="3" fill="#1B1B1B" />
					<rect y="9" width="20" height="3" fill="#1B1B1B" />
				</svg>
			</button>
		</div>
	</header>
</template>

<script>
export default {}
</script>
