@font-face {
	font-family: 'Akzidenz Grotesk BQ';
	font-weight: 400;
	font-style: normal;
	src: url('./fonts/AkzidenzGroteskBQ-Reg.otf');
}

@font-face {
	font-family: 'Akzidenz Grotesk BQ';
	font-weight: 400;
	font-style: italic;
	src: url('./fonts/AkzidenzGrotesk-Italic.otf');
}

@font-face {
	font-family: 'Akzidenz Grotesk BQ';
	font-weight: 500;
	font-style: normal;
	src: url('./fonts/AkzidenzGrotesk-Medium.otf');
}

@font-face {
	font-family: 'Akzidenz Grotesk BQ';
	font-weight: 500;
	font-style: italic;
	src: url('./fonts/AkzidenzGroteskBQ-MedItalic.otf');
}

@font-face {
	font-family: 'Akzidenz Grotesk BQ';
	font-weight: 700;
	font-style: normal;
	src: url('./fonts/AkzidenzGrotesk-Bold.otf');
}

@font-face {
	font-family: 'Akzidenz Grotesk BQ';
	font-weight: 700;
	font-style: italic;
	src: url('./fonts/AkzidenzGrotesk-BoldItalic.otf');
}
