@import url('./fonts.css');

@tailwind base;
@tailwind components;

.title-super-dark {
	@apply text-[48px] leading-[44px] tracking-[-3px] text-dark-gray font-bold;
}

.title-super-light {
	@apply text-[48px] leading-[44px] tracking-[-3px] text-white font-bold;
}

.title-large-dark {
	@apply text-[36px] leading-[44px] tracking-[-2px] text-dark-gray font-bold;
}

.title-large-light {
	@apply text-[36px] leading-[44px] tracking-[-2px] text-white font-bold;
}

.body-dark {
	@apply text-[18px] leading-[22px] tracking-[-0.75px] text-dark-gray;
}

.body-light {
	@apply text-[18px] leading-[22px] tracking-[-0.75px] text-white;
}

.callout-medium-dark {
	@apply text-[16px] leading-[19px] tracking-[-0.5px] text-dark-gray;
}

.callout-medium-light {
	@apply text-[16px] leading-[19px] tracking-[-0.5px] text-white;
}

.callout-small-dark-bold {
	@apply text-[14px] leading-[17px] tracking-[-0.5px] text-dark-gray font-bold;
}

.callout-small-light-bold {
	@apply text-[14px] leading-[17px] tracking-[-0.5px] text-white font-bold;
}

.callout-small-dark-reg {
	@apply text-[14px] leading-[17px] tracking-[-0.5px] text-dark-gray;
}

.callout-small-light-reg {
	@apply text-[14px] leading-[17px] tracking-[-0.5px] text-white;
}

.footnote-lightgray {
	@apply text-[12px] leading-[14px] tracking-[0px] text-light-gray;
}

.footnote-light {
	@apply text-[12px] leading-[14px] tracking-[0px] text-white;
}

.caption-small-dark {
	@apply text-[12px] leading-[12px] tracking-[1.5px] text-dark-gray font-bold;
}

.caption-small-light {
	@apply text-[12px] leading-[12px] tracking-[1.5px] text-white font-bold;
}

html,
body {
	font-family: 'Akzidenz Grotesk BQ';
}

@tailwind utilities;
