<template>
	<div class="bg-sand-gray w-full h-screen">
		<Header></Header>
		<nuxt />
	</div>
</template>

<script>
import Header from '~/components/Header.vue'
export default { components: { Header } }
</script>
