<template>
	<span
		class="bg-dark-gray callout-small-light-reg px-4 py-8 text-white flex transform -translate-y-10  justify-end items-center w-[80%]"
	>
		<span class="font-medium mr-auto">Searching...</span>
		<span class="opacity-80 mr-10">01:42</span>
		<button @click="$emit('on-click')">
			<svg
				width="14"
				height="14"
				viewBox="0 0 14 14"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect
					x="2.05023"
					y="0.636047"
					width="16"
					height="2"
					transform="rotate(45 2.05023 0.636047)"
					fill="white"
				/>
				<rect
					width="16"
					height="2"
					transform="matrix(-0.707107 0.707107 0.707107 0.707107 11.9498 0.636047)"
					fill="white"
				/>
			</svg>
		</button>
	</span>
</template>

<script>
export default {}
</script>
