<template>
	<div class=" pt-16 h-full w-full flex flex-col">
		<div class="flex-grow pt-8 bg-image flex flex-col">
			<div class="flex-grow w-full relative">
				<div>
					<div
						class="flex justify-center items-center py-10 w-[6.5rem] relative z-10 bg-dark-gray text-white font-bold"
					>
						<button>
							<svg
								width="22"
								height="10"
								viewBox="0 0 22 10"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6 0L0 5L6 10V6H22V4H6V0Z"
									fill="white"
								/>
							</svg>
						</button>
					</div>

					<!-- Main content -->
					<div class="text-white px-4 relative z-10 w-[92%]">
						<h2 class="mt-12  callout-medium-light ">
							Matchmaking Lobby
						</h2>
						<p class="title-super-light mt-6">
							Searching for compatible opponents
						</p>
						<p class="body-light mt-8">
							We’re searching our database of players to pair you
							with an opponent of similar skill
						</p>

						<div
							class="flex justify-start items-center mt-20 space-x-8"
						>
							<span
								class="footnote-light flex justify-start items-center w-12"
								>Lobby</span
							>
							<span
								class="flex justify-center items-center w-20 h-20 border-2 border-white rounded-full"
							>
								<span
									class="overflow-hidden inline-block w-16 h-16 rounded-full"
								>
									<img
										src="@/assets/images/avatar-01.png"
										alt=""
									/>
								</span>
							</span>
						</div>

						<div
							class="flex justify-start items-center space-x-8 mt-10"
						>
							<span class="flex justify-start items-center w-12">
								<svg
									width="12"
									height="2"
									viewBox="0 0 12 2"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<rect width="12" height="2" fill="white" />
								</svg>
							</span>

							<span class="footnote-light">
								<span class="font-bold ">4,021 </span>
								in Queue
							</span>
						</div>
					</div>
				</div>

				<!-- As background -->
				<div
					class="bg-electric-blue mix-blend-multiply z-0 w-[93%] absolute top-0 left-0 h-full"
				></div>
			</div>

			<!-- CTA -->
			<div class="w-full flex justify-end">
				<CTAButton
					@on-click="
						$emit('on-click')
						timer = null
					"
				></CTAButton>
			</div>
		</div>
	</div>
</template>

<script>
import CTAButton from '../searching/CTAButton.vue'

export default {
	components: { CTAButton },

	data() {
		return {
			timer: null
		}
	},

	mounted() {
		this.timer = setTimeout(() => {
			this.$emit('next-step')
		}, 4000)
	}
}
</script>

<style scoped>
.bg-image {
	background-image: url('~assets/images/ronaldo-2.png');
	@apply bg-no-repeat bg-right-top bg-blend-multiply;
}
</style>
