<template>
	<main class="h-full w-full">
		<MatchmakingLobby
			v-if="activeState === 'lobby'"
			@on-click="activeState = 'searching'"
		></MatchmakingLobby>
		<Searching
			v-if="activeState === 'searching'"
			@on-click="activeState = 'lobby'"
			@next-step="activeState = 'match-found'"
		></Searching>
		<MatchFound
			v-if="activeState === 'match-found'"
			@on-click="activeState = 'lobby'"
		></MatchFound>
	</main>
</template>

<script>
import MatchmakingLobby from '~/components/homepage/MatchmakingLobby.vue'
import Searching from '~/components/searching/Searching.vue'
import MatchFound from '~/components/match-found/MatchFound.vue'

export default {
	components: { MatchmakingLobby, Searching, MatchFound },

	data() {
		return {
			activeState: 'searching'
		}
	}
}
</script>

<style scoped></style>
