<template>
	<section
		:class="activeTab === data.title && 'flex-grow'"
		class="w-full transition-all duration-1000 ease-in-out"
	>
		<div
			class="flex justify-between items-center callout-small-dark border-t border-concrete-gray"
		>
			<span class="inline-block w-full py-3  font-bold">{{
				data.title
			}}</span>
			<span class="w-full py-3 flex justify-start items-center">
				<span>{{ data.properties[0] }}</span>
				<button
					@click="$emit('set-active-tab', data.title)"
					class="ml-auto"
				>
					<svg
						width="12"
						height="8"
						viewBox="0 0 12 8"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M10.1091 0.251038L11.9381 2.08004L6.09459 7.92358L0.250914 2.0799L2.08132 0.251132L6.09464 4.26554L10.1091 0.251038Z"
							fill="#1B1B1B"
						/>
					</svg>
				</button>
			</span>
		</div>

		<transition
			name="accordion-item"
			enter-class="max-h-0"
			enter-active-class="transition-all ease-in-out duration-[0.6s]"
			enter-to-class="max-h-screen"
			leave-class="max-h-screen"
			leave-active-class="transition-all ease-in-out duration-[0.6s]"
			leave-to-class="max-h-0"
		>
			<div v-if="activeTab === data.title" class="overflow-hidden">
				<span
					v-for="(item, i) in data.properties"
					:key="i"
					class="flex justify-between items-center"
				>
					<template v-if="i > 0">
						<span class="inline-block w-full py-3"></span>
						<span class="inline-block w-full py-3">{{ item }}</span>
					</template>
				</span>
			</div>
		</transition>
	</section>
</template>

<script>
export default {
	props: {
		data: {
			type: Object,
			default: () => {}
		},

		activeTab: {
			type: String,
			default: ''
		}
	}
}
</script>
