<template>
	<span
		class="bg-electric-blue callout-small-light-reg px-4 py-8 text-white flex w-full justify-between items-center"
	>
		<button class=" font-medium">Play Now</button>
		<span class="opacity-80">4,021 in Queue</span>
		<button @click="$emit('on-click')">
			<svg
				width="22"
				height="12"
				viewBox="0 0 22 12"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M16 0L22 6L16 12V7.2H0V4.8H16V0Z" fill="white" />
			</svg>
		</button>
	</span>
</template>

<script>
export default {}
</script>
