<template>
	<div
		class="flex bg-image pt-24 flex-col h-full items-center justify-start w-full"
	>
		<nav class="space-x-6 px-4 py-2 border-b border-concrete-gray w-full">
			<button>
				<svg
					width="22"
					height="10"
					viewBox="0 0 22 10"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path d="M6 0L0 5L6 10V6H22V4H6V0Z" fill="#1B1B1B" />
				</svg>
			</button>
			<span class="font-bold">Matchmaking Lobby</span>
		</nav>

		<!-- Content -->
		<div
			class="flex px-4 flex-col w-full flex-grow justify-end items-start"
		>
			<transition
				name="accordion-item"
				enter-class="max-h-0"
				enter-active-class="transition-all ease-in-out duration-1000"
				enter-to-class="max-h-screen"
				leave-class="max-h-screen"
				leave-active-class="transition-all ease-in-out duration-1000"
				leave-to-class="max-h-0"
			>
				<section
					v-if="!activeTab"
					:class="!activeTab && 'flex-grow'"
					class="w-full  overflow-hidden mb-auto"
				>
					<h2 class="flex justify-between items-center">
						<span class="inline-block title-large-dark w-full"
							>steveroesler’s lobby</span
						>
						<span
							><svg
								width="12"
								height="16"
								viewBox="0 0 12 16"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M9.6 4V6.4C10.48 6.4 11.2 7.12 11.2 8V14.4C11.2 15.28 10.48 16 9.6 16H1.6C0.72 16 0 15.28 0 14.4V8C0 7.12 0.72 6.4 1.6 6.4V4C1.6 1.76 3.36 0 5.6 0C7.84 0 9.6 1.76 9.6 4ZM3.2 6.4H8V4C8 2.64 6.96 1.6 5.6 1.6C4.24 1.6 3.2 2.64 3.2 4V6.4Z"
									fill="#1B1B1B"
								/>
							</svg>
						</span>
					</h2>
					<p>
						<span
							class="caption-small-light inline-block px-2 py-1 font-normal rounded-r-3xl bg-dark-gray"
							>FIFA 19</span
						>
					</p>

					<!-- Player card -->
					<div
						class="mt-4 w-full overflow-x-auto flex justify-start items-start flex-nowrap space-x-4"
					>
						<PlayerCard :player="player"></PlayerCard>
						<PlayerInvite></PlayerInvite>
					</div>
				</section>
			</transition>

			<AccordionItem
				v-for="(item, i) in player.meta"
				:key="i"
				:data="item"
				:active-tab="activeTab"
				@set-active-tab="
					val =>
						activeTab === item.title
							? (activeTab = '')
							: (activeTab = val)
				"
			></AccordionItem>
		</div>

		<!-- CTA -->
		<div class="w-full">
			<CTAButton @on-click="$emit('on-click')"></CTAButton>
		</div>
	</div>
</template>

<script>
import PlayerCard from '~/components/homepage/PlayerCard.vue'
import PlayerInvite from '~/components/homepage/PlayerInvite.vue'
import AccordionItem from '~/components/homepage/AccordionItem.vue'
import CTAButton from '~/components/homepage/CTAButton.vue'

export default {
	components: { PlayerCard, PlayerInvite, AccordionItem, CTAButton },

	data() {
		return {
			player: {
				image: require('@/assets/images/avatar-01.png'),
				name: 'steveroesler',
				isReady: true,
				position: 'Team Leader',
				tags: [require('@/assets/images/tag.svg')],
				meta: [
					{
						title: 'Type',
						properties: ['Competitive', 'Other 1', 'Other 2']
					},
					{
						title: 'Gamemode',
						properties: ['Squad Battles', 'Other 1', 'Other 2']
					},
					{
						title: 'Lobby Status',
						properties: ['Invite Only', 'Other 1', 'Other 2']
					}
				]
			},
			activeTab: ''
		}
	}
}
</script>

<style scoped>
.bg-image {
	background-image: url('~assets/images/ronaldo-1.png');
	@apply bg-no-repeat bg-right-top bg-blend-multiply;
}
</style>
