<template>
	<div>
		<div class="overflow-hidden h-44 w-32 border border-light-gray"></div>

		<div>
			<p class="footnote-lightgray mt-4">Team Player /</p>
			<button
				class="body-dark font-bold mt-2 flex justify-start items-center space-x-3"
			>
				<span>Invite Player</span>
				<span>
					<svg
						width="8"
						height="12"
						viewBox="0 0 8 12"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M0.251038 1.89086L2.08004 0.0618591L7.92358 5.90541L2.0799 11.7491L0.251132 9.91868L4.26554 5.90536L0.251038 1.89086Z"
							fill="#1B1B1B"
						/>
					</svg>
				</span>
			</button>
		</div>
	</div>
</template>

<script>
export default {}
</script>
