<template>
	<div v-if="player">
		<div class="overflow-hidden h-44 w-32">
			<img
				:src="player.image"
				alt=""
				class="object-cover object-center"
			/>
		</div>

		<div>
			<p class="footnote-lightgray mt-4">{{ player.position }} /</p>
			<h3 class="body-dark font-bold mt-2">{{ player.name }}</h3>
			<div class="flex justify-start items-center space-x-2 mt-3">
				<span
					v-if="player.isReady"
					class="border border-dark-gray caption-small-dark py-1 px-1"
					>{{ player.isReady ? 'READY' : '' }}</span
				>
				<template v-if="player.tags.length">
					<span class="flex justify-start items-center space-x-2">
						<span v-for="(item, i) in player.tags" :key="i">
							<img :src="item" alt="" />
						</span>
					</span>
				</template>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		player: {
			type: Object,
			default: () => {}
		}
	}
}
</script>
